<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Milk the Cow</string>
	<key>CFBundleIdentifier</key>
	<string>com.rich.widget.milkthecow</string>
	<key>CFBundleName</key>
	<string>Milk the Cow</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>0.5.0</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>8</integer>
	<key>Height</key>
	<integer>380</integer>
	<key>MainHTML</key>
	<string>milkthecow.html</string>
	<key>Width</key>
	<integer>280</integer>
</dict>
</plist>
